# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.version10 state_strategy.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\70.Git\Git File\設計模式\version10 state_strategy\.idea\.idea.version10 state_strategy.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
