# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.soul - 2021.5.17 after.iml
# Datasource local storage ignored files
/../../../../../../../../:\1.Project\13-1.Git\設計模式\soul - 2021.5.17 after\.idea\.idea.soul - 2021.5.17 after\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
